anyio==3.7.1+computecanada
appdirs==1.4.4+computecanada
argon2-cffi==23.1.0
argon2_cffi_bindings==21.2.0+computecanada
arrow==1.2.3
astor==0.8.1+computecanada
asttokens==2.2.1+computecanada
async-lru==2.0.4
attrs==23.1.0+computecanada
Babel==2.12.1
backcall==0.2.0+computecanada
beautifulsoup4==4.12.2+computecanada
bids-validator==1.12.0
binaryornot==0.4.4+computecanada
bleach==6.0.0+computecanada
boutiques==0.5.25
cached-property==1.5.2+computecanada
certifi==2022.12.7
cffi==1.15.1+computecanada
chardet==5.1.0
charset_normalizer==2.1.1+computecanada
click==8.1.3+computecanada
colorama==0.4.6+computecanada
comm==0.1.4
ConfigArgParse==1.5.3+computecanada
connection_pool==0.0.3+computecanada
cookiecutter==2.1.1
datrie==0.8.2+computecanada
debugpy==1.6.7.post1
decorator==5.1.1+computecanada
defusedxml==0.7.1+computecanada
distlib==0.3.7
docopt==0.6.2+computecanada
docutils==0.19+computecanada
dpath==2.1.3
exceptiongroup==1.0.4
executing==1.2.0+computecanada
fastjsonschema==2.16.2
filelock==3.12.2
formulaic==0.3.4
fqdn==1.5.1+computecanada
gitdb==4.0.10
GitPython==3.1.29+computecanada
humanfriendly==10.0+computecanada
idna==3.4+computecanada
importlib-resources==5.13.0
importlib_metadata==6.8.0+computecanada
iniconfig==1.1.1+computecanada
interface-meta==1.3.0
ipykernel==6.25.1
ipython==8.14.0
isoduration==20.11.0+computecanada
jedi==0.19.0
Jinja2==3.1.2+computecanada
jinja2-time==0.2.0+computecanada
json5==0.9.14
jsonpointer==2.4
jsonschema==4.19.0
jsonschema_specifications==2023.7.1+computecanada
jupyter-events==0.7.0
jupyter-lsp==2.2.0
jupyter_client==8.3.0+computecanada
jupyter_core==5.1.0
jupyter_server==2.7.1
jupyter_server_terminals==0.4.4+computecanada
jupyterlab==4.0.5
jupyterlab_pygments==0.2.2+computecanada
jupyterlab_server==2.24.0
MarkupSafe==2.1.1+computecanada
matplotlib_inline==0.1.6+computecanada
mistune==3.0.1+computecanada
mock==4.0.3+computecanada
more_itertools==9.1.0+computecanada
nbclient==0.8.0+computecanada
nbconvert==7.7.4
nbformat==5.7.1
nest-asyncio==1.5.7
nexus-sdk==0.3.2
nibabel==4.0.2
notebook_shim==0.2.3
num2words==0.5.12
numpy==1.23.0+computecanada
overrides==7.4.0
packaging==22.0
pandas==1.5.0+computecanada
pandocfilters==1.5.0+computecanada
parso==0.8.3+computecanada
pathxf==0.0.3.dev1+91cb9eb
pexpect==4.8.0+computecanada
pickleshare==0.7.5+computecanada
plac==1.3.5+computecanada
platformdirs==3.10.0+computecanada
pluggy==1.0.0+computecanada
prometheus_client==0.17.1+computecanada
prompt-toolkit==3.0.39
psutil==5.9.1+computecanada
ptyprocess==0.7.0+computecanada
PuLP==2.7.0
pure_eval==0.2.2+computecanada
puremagic==1.14
pvandyken-deprecated==0.0.3
pybids==0.16.1
pycparser==2.21+computecanada
Pygments==2.16.1
pyrsistent==0.19.2
pytest==7.2.0+computecanada
python-dateutil==2.8.2+computecanada
python-slugify==7.0.0
python_json_logger==2.0.7+computecanada
pytz==2022.7
PyYAML==6.0+computecanada
pyzmq==25.0.0+computecanada
referencing==0.30.2
requests==2.28.1+computecanada
reretry==0.11.8
rfc3339_validator==0.1.4+computecanada
rfc3986_validator==0.1.1+computecanada
rpds_py==0.8.8+computecanada
scipy==1.9.3+computecanada
Send2Trash==1.8.2+computecanada
simplejson==3.17.6+computecanada
six==1.16.0+computecanada
smart-open==6.3.0
smmap==5.0.0+computecanada
snakebids==0.9.0
snakeboost==0.3.0
snakemake==7.32.3
sniffio==1.3.0+computecanada
soupsieve==2.4.1+computecanada
SQLAlchemy==1.3.24
sseclient==0.0.27
stack_data==0.6.2+computecanada
stopit==1.1.2+computecanada
tabulate==0.9.0+computecanada
termcolor==2.1.1
terminado==0.17.1+computecanada
text-unidecode==1.3+computecanada
throttler==1.2.2
tinycss2==1.2.1+computecanada
tomli==2.0.1+computecanada
toposort==1.10
tornado==6.2+computecanada
traitlets==5.8.0
typer==0.7.0+computecanada
typing_extensions==4.7.1+computecanada
uri-template==1.3.0
urllib3==1.26.13+computecanada
virtualenv==20.24.3
wcwidth==0.2.6+computecanada
webcolors==1.13+computecanada
webencodings==0.5.1+computecanada
websocket_client==1.6.1+computecanada
wrapt==1.14.0
yte==1.5.1
zipp==3.16.2
